@import "reset.css/reset.css";
@import "./main.css";

main {
  padding: 0 2rem;
}

table {
  margin: 2rem 0;
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
}

thead {
  background: #000191;
  color: #fff;
}

th {
  text-align: center;
  font-weight: bold;
}

th,
td {
  padding: 1rem 2rem;
  vertical-align: middle;
}

tr + tr {
  border-top: 1px solid #ddd;
}

th + th,
td + td {
  border-left: 1px solid #ddd;
}
